*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #ecf0f1;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 30px;
}
ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    display: block;
}

:root {
    /* icon color */
    --main-icon-color: #C9151B;
    /* background colr */
    --background-xl-color:#F7F8FA;
    --background-lg-color:#718093;
    --background-md-color:#2f3640;
    --background-sm-color:#192a56;
    --background-color:#2f3640;

    /* font color */
    --font-xl-color: #431d9d;
    --font-lg-color: #431d9d;
    --font-md-color: #431d9d;
    --font-sm-color: #f3f3f3;
    --font-sm-input-color: #bdbdbd;
    

    /* font size */
    --font-sm-size:1.3rem ;
   
  }
.bgGreen{
    background: #024B01;
}
.bgBlue{
    background: #326FB4;
}
.bgRed{
    background: #800000;
}
.bgMegenda{
    background: #00878A;
}
.bgPink{
    background: #F05454;
}
.bgDark{
    background: #000000;
}
.bgYellow{
    background: #FFC800;
}

  .commonBtn {
    width: 114px !important;
    border: 1px solid #C9151B!important;
    height: 40px !important;
    display: flex !important;
    justify-content: center!important;
    text-align: center !important;
    align-items: center !important;
    border-radius: 5px !important;
    background:#C9151B !important;
    color: #fff !important;
    font-size: 15px!important;
    
}
.commonBtnTxt {
    padding: 10px 10px;
    text-align: center;

}
/* =====  META HEADER START==== */
.meta_header_section {
    background-color: #fff;
}
.meta_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    position: relative;
}
.meta_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   flex: 1 1 200px;
  
}
.meta_phone {
    margin-right: 3rem;
}
.meta_phone span,
.meta_links span,
.meta_right span{
    font-size: var( --font-sm-size)!important
    ;
}
.meta_phone span::before {
        content: '\f2a0';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        height: 100%;
        margin-right: .5rem;
        color:  var(--main-icon-color);
} 
.meta_links span::before {
    content: '\f0e0';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: .5rem;
    color:  var(--main-icon-color);
}

.meta_right{
   
}
.meta_right span {
    font-size: 1.5rem;
}
.meta_right span::before{
    content: '\f10b';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: .5rem;
    color:  var(--main-icon-color);
}

/* toggle area css */
.toggle_side_menu_section{}
.toggle_menu_area {
    width: 300px;
    height: !important;
    background: red;
    position: absolute;
    top: 0;
    right:-100%;
    z-index: 999;
}
.toggle_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toggle_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 102px;
    border-bottom: 1px solid #eee;
}
.toggle_button a {
    width: 250px !important;
}
.toggle_menu_list{}
.toggle_menu_list ul {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee !important;
}
.toggle_menu_list ul li{}
.toggle_menu_list ul li a {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}
.toggle_text {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
}
.toggle_text p{ }

/* ==== MEATA HEADER END===== */


/*  =====MAIN HEADER AREA START ==== */

.main_header_section {
    padding: 2rem 0rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #eee;
    z-index: 99999 !important;
}
.main_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
}


.main_header .header_logo {
    padding: .5rem;
    margin-right: 5rem;
    position: relative;
}
.main_header .header_logo span {
    position: absolute;
    top: 32%;
    left: 14px;
    bottom: 50%;
    font-size: 3rem;
    color: red;
    display: block;
    transform: translate(-50%, -50%);
    display: none;
}
.main_header .header_logo h2 a{
    color: #333;
    font-size: 3.2rem;
    display: block;
}
.header_search {
    flex: 1 1 200px;
    position: relative;
}


.header_search input {
    max-width: 100%;
    height: 40px;
    width: 100%;
    border: 1px solid var( --main-icon-color);
    border-radius: 5px;
    outline: 0;
    font-size: 1.5rem;
    padding-left: 1rem;
    position: relative;
    display: inline-block;
}
.header_search a {
    width: 75px;
    height: 40px;
    background: #1A202C;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}
.header_search a i{ }
.header_social_icon {
    flex-grow: .6 1 200px;
    flex: 0 1 200px;
    text-align: -webkit-right;
}
.header_social_icon ul{}
.header_social_icon ul li{}
.header_social_icon ul li a {
    padding: 0rem 2.2rem;
    color: #353b48;
}

.header_social_icon ul li a:last-child {
    padding-right: 0px;
}

.header_social_icon ul li a i{
    color: var( --main-icon-color);
}
/* ==== MAIN HEADER AREA END===== */


/* =====MENU BAR AREA STAR====== */
.menu_bar_section {
    background: #1A202C;
    position: sticky;
    top: 85px;
    left: 0;
    right: 0;
    z-index: 9999 !important;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
 
}
.navbar .catagories_section {
    width: 270px;
    max-width: 100%;
    background: #C9151B;
    margin-right: 2rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.catagories_section span i {
    font-size: 18px;
}
.navbar .catagories_section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 8px 0px;
    letter-spacing: .1rem;
    color: var( --font-sm-color)!important;
}
/* .navbar .catagories_section h1::before {
    content: "\f0c9";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 32%;
    bottom: 50%;
    left: 2rem;
    font-size: 2rem;
    transform: translate(-50% , -50%);
    color: var(  --font-sm-color)!important;
} */
/* .navbar .catagories_section h1::after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 32%;
    bottom: 50%;
    right: 1rem;
    font-size: 2rem;
    transform: translate(-50% , -50%);
    color: var(  --font-sm-color)!important;
} */
.menu_area {
    flex: 1 0 200px;
}
.menu_area ul{}
.menu_area ul li{}
.menu_area ul li a {
    color: var( --font-sm-color)!important;
    padding: 0rem 1rem;
    margin-left: -.5rem;
    text-transform: capitalize;
    font-size: 1.4rem;
}

.news_feed{
    position: relative;
}
/* newsfeed icon */
.news_feed span {
    position: absolute;
  
    top: 0;
    right: 0;
    display: none;
}
.news_feed span i {
    color: #fff;
    display: block;
   
}

.news_feed ul{}
.news_feed ul li{}
.news_feed ul li a {
    color: var( --font-sm-color)!important;
    padding: 0rem 2rem;
    font-size: 1.4rem;
}
.news_feed ul li a:last-child {
    padding-right:0px;
}
/* =======MENU BAR AREA END ======= */




/* SIDEBAR AND BANNER SECTION CSS AREA START  */
.banner_section {
    background: #ecf0f1;
}
.banner_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
 
}
.product_list {
    width: 270px;
    max-width: 100%;
    background: #FFFFFF;
}
.product_item {}
.product_item .product_menu{}

.product_item .product_menu li {
    display: block;
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid #eee;
    transition:  all .1s ease-in-out;
    position: relative;

}
.product_item .product_menu li::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 42%;
    right: 1.8rem;
    bottom: 50%;
    transform: translate(-50%, -50%);
    color: #0005;
    color: color: #312a2a;
}
.product_item .product_menu li:last-child {
    border-bottom: 0;
}
.product_item .product_menu li a{
    font-size: 1.3rem;
    color: #312a2a;
  
}
.product_item .product_menu li:hover{
    background: #F7F8FA;
}
.banner_right {
    width: calc(1200px - 341px);
    margin-left: 11px;
}
.single_slider{
    width: 100%;
    height: 350px;
}
.single_slider img {
    width: 100%;
    height: 400px;
}
.small_banner{
    width: 100%;
    height: 150px;
}
.small_banner img{
    width: 100%;
    height: 150px;
}
.banner_slider{
    margin-top: 20px;
}
/* carousel slider */

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -35px;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
   
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #c9151b;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #c9151b;
    padding: 0px 20px;
}


/* SIDEBAR AND BANNER SECTION CSS AREA END  */


/* CARD ICON SECTION CSS START */

.card_icon_section {
    display: none;
}
.card_icon_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card_img {
    width: 65px;
    height: 65px;
    background: #222222;
    margin: 1.8rem !important;
    border-radius: 50%;
}
.card_img span{}
.card_img span i {
    color: #C4B063;
    font-size: 30px;
    line-height: 65px;
    display: inline-block;
}
.card_content {
    text-align: center;
    margin-bottom: 1.5rem;
}
.card_content h3 {
    font-size: 1.4rem;
}

/* CARD ICON SECTION CSS END */


/* zerosoft EXPRESS CSS START  */


.zerosoft_express_section {
    background: #ecf0f1!important;
    margin-top: 20px;
}
.zerosoft_express {
    position: relative;
}
.zerosoft_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 10px;
}
.zerosoft_left_text{}
.zerosoft_left_text h3{}
.zerosoft_right_text {
    margin-right: 55px;
}
.zerosoft_right_text p{
    position: relative;
}
/* .zerosoft_right_text p::after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 2px;
    right: -55px;
}
.zerosoft_right_text p::before {
    content: "\f104";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 2px;
    right: -30px;
} */
.zerosoft_product_list{}
.zerosoft_product_item{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center; */
   
}



.zerosoft_product {
    max-width: 300px;
    width: 100%;
    height: 220;
    /* flex: 1 0 160px;
    flex-wrap: wrap;
    margin: .5rem;
    background: #eceef3;
    border-radius: 7px;
    width: 51px!important;
    max-width: 100%; */
}
.product_txt p {
    padding: 10px 10px 24px 10px;
    font-size: 11px;
    text-align: center;
}
/* .zerosoft_product:first-child{
    margin-left: 0px;
}
.zerosoft_product:last-child{
    margin-right: 0px;
} */
.zerosoft_product img {
    /* max-width: 100%;
    display: block; */

    height: 220px;
    border-radius: .5rem;
}

/* slider css */
.owl-theme .owl-nav {
 
    position: absolute;
    top: -51px;
    right: 0;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    font-size: 24px;
}



/* zerosoft EXPRESS CSS END  */



/* SHOP BY BRANDS CSS START */
.shopBrandsSection{
    padding: 30px 0px;
}
.shopByBrands_area{}
.shopTxt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 9px;
    margin-bottom: 10px;
}
.shop_left_txt{}
.shop_left_txt p{}
.shop_right_txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_box input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    padding-left: 10px;
}
.search_box a {
    width: 51px;
    height: 40px;
    background: #000;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}
.search_box a i{}
.shop_products_list{}
.shop_product_item {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.shop_products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    /* flex: 0 1 211px; */
    margin: 10px;
    border-radius: 8px;
    max-width: 170px;
    width: 100%;
    height: 200px;
}
.shop_product_img {
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block!important;
}
.shop_product_img img {
    width: 150px;
    height: 73px;
    padding: 6px;
    display: block;
}
.shop_product_text {
   
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 10px;
}
.shop_product_text p {
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}
.gray{color: #b9b8b8;}
.shop_product_text span {
    margin: 5px 0px;
}
.fullWidth{
    height: 174px;
}

/* SHOP BY BRANDS CSS END */



/* SHOP BY STORES CSS START */
.shop_location {

}
.shop_location_icon{}
.shop_location_icon a {
    width: 35px;
    height: 40px;
    padding: 5px;
    background: #000;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
.shop_location_icon a i{}
/* SHOP BY STORES CSS END */


/* MEGA FOOTER AREA START */
.footer_small_section {
    background: #fff;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999 !important;
    transition:  all .5s linear;
}
.mega_footer{}
.mega_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mega_cart{}
.mega_cart a{}
.mega_cart a i{}
.mega_message{}
.mega_message a{}
.mega_message a i{}
.mega_zerosoft_pic {
    width: 80px;
    height: 80px;
 
}
.mega_zerosoft_pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: -34px;
    border: 8px solid #eee;
    box-sizing: border-box;
}
.mega_notification{}
.mega_notification a{}
.mega_notification a i{}
.mega_account{}
.mega_account a{}
.mega_account a i{}
.mega {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mega a{
    color: red;
}
.mega p {
    font-size: 13px;
    margin-top: 12px;
    color: #222;
}
.mega_icon {
    font-size: 20px;
}
/* MEGA FOOTER AREA END */



/* FOOTER AREA CSS START */
.footer_section{
    background: #333;
}
.footer_area {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
  
}
.footer_download {
   
}
.download_text{}
.download_text p {
    color: #fff;
  
    font-size: 20px;
    margin-bottom: 12px;
}
.download_img {
    width: 160px;
    height: 50px;
    margin-bottom: 15px;
}
.download_img img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.footer_menu {
   
}
.footer_menu_text{}
.footer_menu_text p {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 12px;
}
.footer_menu_list{}
.footer_menu_list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer_menu_list ul li{}
.footer_menu_list ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}
.footer_contact_us {
   
    color: #fff;
}
.footer_contact_text {
    font-size: 20px;
    margin-bottom: 10px;
}
.footer_contact_text p{ }
.contact_address{}
.contact_address {
    font-size: 15px;
    line-height: 25px;
}
.contact_address p{}
.footer_get_in_touch{}
.footer_touch_text {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}
.footer_touch_text p{}
.footer_social_icon {
    margin-top: 10px;
}
.footer_social_icon ul{}
.footer_social_icon ul li{}

.footer_social_icon ul li a {
    font-size: 35px;
    margin: 0px 6px;
    width: 30px;
    height: 29px !important;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4px;
}
.icon_red{
    color: red !important;
}
.footer_social_icon ul li a i{}
/* FOOTER AREA CSS END */





/* ALL SHOPS INDEX FILE CSS START */
.all_shops {
    padding: 0px 9px;
}
.all_shops_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.all-shops_btn {
    margin-right: 12px;
}
.shops_btn{}
.shops_btn a{}
.cash_delivery_btn{}
.cash_delivery_btn a {
    display: block;
    border: 1px solid #ecf0f1;
    padding: 10px 20px;
    border-radius: 5px;
    color: #;
    color: #444;
    background: #fff;
}
.bigBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
  
}

element.style {
}
.bigBtn a {
    width: 350px;
    display: flex;
    height: 41px;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 39px;
}
/* ALL SHOPS INDEX FILE CSS END */


/* GIFT CARD AREA CSS START */
.gift_card_section {
    padding: 30px 0px;
}
.gift_card_area {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.gift_card_left{}
.gift_card_left p {
    font-size: 20px;
    font-weight: 600;
}
.gift_card_right{}
.gift_card_right a {
    /* text-decoration: underline; */
    color: #333;
    font-size: 15px;
    border-bottom: 1px solid red;
}
.gift_card {
    width: 100%;
    height: 300px;
    border: 1px solid #fff;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.gift_notification {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
}
.gift_notification img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.gift_text {
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift_text p {
    font-size: 14px;
}

/* CAMPAIGNS INDEX FILE CSS AREA START */
.fullwidth_banner {
    width: 100% !important;
    margin-left: 0px;
}
.bradeCramb_area {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 40px;
    /* align-items: center; */
}
.bradecramb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.breadeCramb_home{}
.breadeCramb_home a {
    color: #333;
}
.breadeCramb_home a.active {
    color: #C9151B;
}
.braqdeCramb_angel_icon {
    margin: 0px 16px;
}
.braqdeCramb_angel_icon i {
    color: #666;
}
.bradeCramb_campaings{}
.bradeCramb_campaings a {
    color: #333;
}

/*product_review_tabs  */
.product_review_tabs {
    padding: 15px 0px;
}
.tabs_area{}
.tabsbtn {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tabsbtn button {
    padding: 7px 15px;
    margin: 0px 5px;
    background: red;
    border: none;
    outline: none;
    color: #fff;
    text-transform: capitalize;
    border-radius: 3px;
}
.tabs_banner {
    width: 100%;
    height: 100px;
   
}
.tabs_inner {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tabs_banner_left {
    flex: 1;
    max-width: 330px;
    width: 100%;
    padding: 15px;
    color: #fff;
    text-transform: capitalize;
}
.tabs_banner_left h1 {
    font-size: 28px;
}
.tabs_banner_left p {
    font-size: 14px;
    margin-top: 8px;
}
.tabs_banner_right{}
.tabs_panneel_area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
.tabs_card {
  
    width: 180px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    padding: 15px;
    margin: 5px;
}
.tabs_iamge {
    /* width: 100px; */
    height: 100px;
    /* padding: 10px; */
}
.tabs_iamge img {
    width: 100%;
    height: 100%;
}
.tabs_text {
    margin: 20px 0px;
    width: 100%;
}
.tabs_text p {
    font-size: 10px;
    /* padding: 10px; */
}
.tabs_text_btn {
    width: 100%;
    display: flex;
    /* height: 40px; */
}
.tabs_text_btn a {
    border: 1px solid #ddd;
    font-size: 11px;
    padding: 7px 5px;
    border-radius: 3px;
    background: red;
    color: #fff;
}
.tabs_see_all {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tabs_see_all p {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 17px;
    word-spacing: 5px;
}
.tabs_see_all span i {
    font-weight: 700;
    color: #666;
}


/* express index file css start */


/* cyclone index file css start */

.cyclone_section {
    background: #fff;
    padding: 16px 0px;
    border-bottom: 1px solid #eee;
}
.cyclone_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cyclone_left {
    display: flex;
}
.cyclone_left a{}
.cyclone_left a img {
    width: 100px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cyclone_right{}
.cyclone_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cyclone_icon a {
    color: #222;
    padding: 10px 9px;
    font-size: 20px;
}
.cyclone_icon a i{}
.zerosoft_cyclone_section{
    background: #eee;
    padding-top: 20px;
}
.Zerosoft_cyclone_area {
    width: 100%;
    height: 200px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.zerosoft_cyclone_imege {
    width: 120px;
    height: 120px;
}
.zerosoft_cyclone_imege img {
    width: 100%;
    height: 100%;
}
.zerosoft_cyclone_btn {
    width: 18%;
    margin-top: 11px;
}
.zerosoft_cyclone_btn a {
    border: 1px solid red;
    background: red;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


/* MARCHANT ZONE INDEX FILE START */
.marchant_section{
  
}
.marchant_area {
    width: 830px;
    height: 400px;
    display: flex;
 
    background: #fff;
    margin: 80px auto;
    box-shadow: 4px 5px 10px #999;
 
}
.marchant_left {
    margin-top: 30px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marchant_image {
    width: 240px;
    height: 200px;
}
.marchant_image img {
    width: 100%;
    height: 100%;
}
.marchant_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 0px; */
    padding: 23px;
}
.marchant_text h1 {
    color: #444;
}
.marchant_text p {
    width: 222px;
    line-height: 21px;
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

element.style {
}
.marchant_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;
}

element.style {
}
.marchant_right_header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marchant_right_header h1{}
.marchant_form {
    width: 100%;
    padding: 0px 12px;
}
.marchant_right_header h1 span{
    font-size: 40px;
    color: red;
} 
.phone_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    margin-bottom: 15px;
    /* align-items: center; */
}
.phone_input label {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 14px;
}
.maxInputField{}

element.style {
}
.password_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

element.style {
}
.password_input label {
    font-size: 14px;
    color: #222;
    margin-bottom: 5px;
}
input#pass, input#phone {
    width: 100%;
    height: 35px;
    border: none;
    background: #eee;
    border-radius: 3px;
    outline: none;
    padding-left: 6px;
}


.forgot_pass {
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.forgot_pass a {
    font-size: 14px;
    color: #666;
    text-decoration: underline;
}
.marchant_button {
    width: 100%;
    height: 35px;
    background: #111;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

element.style {
}
.marchant_button a {
    color: #fff;
    font-size: 14px;
}
.sign_up_marchant {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 0px 10px;
    margin-top: 20px;
}
.sign_up_marchant span {
    display: flex;
    color: #666;
    font-size: 14px;
}
.sign_up_marchant span a {
    text-transform: uppercase;
    color: #222;
    font-weight: 600;
    text-decoration: underline;
}



/* NEWS FEED INDEX FILE START */
.neewsfeed_section{}
.newsfeed_area {
    display: flex;
    justify-content: flex-start;
}
.newsfeed_left {
    width: 363px;
    height: 100vh;
    background: #fff;
    margin-top: 15px;
}
.newsfeed_category{}
.newsfeed_category ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: flex-start;
}
.newsfeed_category ul li{}
.newsfeed_category ul li a {
    font-size: 14px;
    color: #666;
    padding: 5px 0px;
}
.newsfeed_right {
 
    padding: 0px 15px;
    width: 100%;
}
.newsfeed_main_content {
    margin-bottom: 25px;
    box-shadow: 1px 4px 5px #999;
}
.newsfeed_news {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    /* box-shadow: 1px 0px 10px #999; */
    flex: 1;
}
.newsfeed_inner_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.newfeed_header {
    background: #fff !important;
    width: 100%;
    padding: 13px;
}
.newsfeed_header_top_text {
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
}
.newsfeed_header_top_image {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px;
    position: relative;
    box-shadow: 2px 2px 4px #666;
}
.newsfeed_header_top_image{
    width:100%;
}
.newsfeed_header_top_image img{
    width: 100%;
}
.newsfeed_header_top_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 30%;
    height: 100%;
    background: #333;
    opacity: .9;
}
.newsfeed_header_top_image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0%;
    width: 30%;
    height: 100%;
    background: #333;
    opacity: .9;
}
.newsfeed_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.newsfeed_footer_left {
    display: flex;
    align-items: center;
}
.newsfeed_img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.newsfeed_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.newsfeed_txt{}
.newsfeed_txt .person {
    font-size: 14px;
    color: #222;
}
.newsfeed_txt p {
    font-size: 11px;
    color: #777;
    margin-top: 5px;
}
.newsfeed_footer_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsfeed_like,
.newsfeed_comments,
.newsfeed_share {
    width: 60px;
    font-size: 14px;
}
.newsfeed_like span{}
.newsfeed_like span i,
.newsfeed_comments span i,
.newsfeed_share span i
 {
    color: red;
}

.newsfeed_comments span{}

.newsfeed_share span{}

.newsfeed_banner {
    width: 200px;
    height: 100vh;
}
.newsfeed_banner img {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}